<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/style.css" />
<title>Wheel Of Fortune</title>
</head>

<body>
<div id="container">
	<h1 class="orange">WELCOME TO</h1>
	<img src="/images/wof_start.png"/>
	<ul id="menu">
		<li><a class="btn" href="/board">PLAY</a></li>
		<li><a class="btn" href="/new">NEW GAME</a></li>
		<li><a class="btn" href="/analysis">ANALYSIS</a></li>
		<li><a class="btn" href="/statistics">STATISTICS</a></li>
	</ul>
</div>
</body>

</html>